@import url(font-awesome.css);
@import url(custom-fonts.css);
@font-face {
  font-family: 'HelveticaNeue';
  src: url('HelveticaNeue.eot?#iefix') format('embedded-opentype'),  url('HelveticaNeue.woff') format('woff'), url('HelveticaNeue.ttf')  format('truetype'), url('HelveticaNeue.svg#HelveticaNeue') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue-Bold';
  src: url('HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),  url('HelveticaNeue-Bold.woff') format('woff'), url('HelveticaNeue-Bold.ttf')  format('truetype'), url('HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'helveticaneuemedium';
    src: url('helveticaneue_medium-webfont.eot');
    src: url('helveticaneue_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneue_medium-webfont.woff2') format('woff2'),
         url('helveticaneue_medium-webfont.woff') format('woff'),
         url('helveticaneue_medium-webfont.ttf') format('truetype'),
         url('helveticaneue_medium-webfont.svg#helveticaneuemedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*---- Common ------*/
html{margin: 0; padding: 0; height: 100%;}
body{margin: 0; padding: 0; font-family: 'HelveticaNeue' !important; font-weight: normal; letter-spacing: 0.3px; min-height: 100%; outline: none; position: relative; transition: all 0.5s ease; font-size: 14px; background-color: #F9F9F9; color: #212121;}
/*body::after{content:''; display:block; min-height:178px;}*/
h1,h2,h3,h4,h5,h6,ul,ol{margin: 0; padding: 0;}
h4{font-size: 20px; line-height: 22px;}
h5{font-size: 18px; line-height: 22px;}
b, strong{font-family: 'helveticaneuemedium';font-weight: normal;}
p{margin: 0 0 10px 0;}
.hide{display: none;}
.m-t-10{margin-top: 10px;}
.m-t-20{margin-top: 20px;}
.m-t-30{margin-top: 30px;}
.m-t-40{margin-top: 40px;}
.m-t-50{margin-top: 50px;}
.m-t-80{margin-top: 80px;}
.m-r-10{margin-right: 10px;}
.padding-20{padding: 20px;}
.padding-0{padding: 0px;}
.padding-left-0{padding-left: 0px;}
.padding-right-0{padding-right: 0px;}
.no-padding{padding: 0px;}
.border-right{border-right: solid 1px #DEDEDE;}
a{text-decoration: none; outline: none; color: #212121;}
a:hover, a:focus, a.active{text-decoration: none; outline: none; color: #212121;}
.success-label{color: #417505;}
.danger-label{color: #D0021B;}
.text-left{text-align: left !important;}
.page-content-wrapper::after, .content-wrapper::after{content: ""; clear: both; display: block;}

/*---- Header ------*/
.navbar-default{background-color: #212121; border-radius: 0px; border-color: transparent;}
.navbar-default .navbar-nav>li{color: #E0E0E0; position: relative;}
.navbar-default .navbar-nav>li>a{color: #E0E0E0; padding: 12px 10px 10px 10px; border-bottom: none;}
.navbar-brand{padding: 6px 15px 6px 11px; height: initial;}
.navbar{min-height: 45px; margin-bottom: 0px;}
.navbar-default .navbar-nav>li>a>i{font-size: 18px;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{color: #E0E0E0; background-color: transparent;}
.search-text{padding: 12px 10px 10px 10px;}
.like-count{width: 18px; height: 18px; border: solid 1px #fff; border-radius: 100px; font-size: 10px; display: inline-block; text-align: center; position: absolute; top: 3px; right: 0px;}
.navbar-default .navbar-toggle{border-color: #fff; border-radius: 0px;}
.navbar-default .navbar-toggle .icon-bar{background-color: #fff;}
#navbar .dropdown-menu{padding: 0px;}
#navbar .dropdown-menu>li>a{padding: 8px 20px;}
#navbar .dropdown-menu>li>a:hover, #navbar .dropdown-menu>li>a:focus{background-color: #212121; color: #fff;}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{background-color: #212121; color: #fff;}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{background-color: #fff;}
.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar{background-color: #212121;}
.divider-text{color: #A6A6A6; border-bottom: solid 1px #F3F3F3; letter-spacing: 1px; font-size: 11px; padding-left: 16px; padding-bottom: 16px; margin-top: 30px; margin-bottom: 6px;}

/*----- Content -----*/
.page-title{font-family: 'helveticaneuemedium';font-size: 20px; color: #212121; letter-spacing: 0.71px; line-height: 18px; margin-top: 10px; margin-bottom: 17px;}
.pushy-open-left .page-container{margin-left: 360px; /*min-height: 1500px;*/}
.content-container{padding: 15px;}
.page-content-wrapper{width: 100%;}
.box-wrapper{padding: 20px 30px 20px 30px; position: relative; margin-bottom: 20px; background: #FFFFFF; border: 1px solid #F8F8F8; box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24); -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24); -moz-box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24); -ms-box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24); border-radius: 2px;}
.gray-wrapper{padding: 20px 30px 20px 30px;}
.analytics-wrapper{position: relative; margin-bottom: 20px;  background: #FFFFFF; border: 1px solid #F8F8F8; box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24); -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24); -moz-box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24); -ms-box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24); border-radius: 2px;}
.card-wrapper{background: #3E82F7; position: relative; margin-bottom: 20px; color: #fff; border: 1px solid #F8F8F8; box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24); -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24); -moz-box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24); -ms-box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24); border-radius: 2px;}
.users-wrapper{position: relative; margin-bottom: 20px; padding: 8px 0px; background: #FFFFFF; border: 1px solid #F8F8F8; box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24); -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24); -moz-box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24); -ms-box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24); border-radius: 2px;}
.dashboard-box-wrapper{background: #FFFFFF; border: 1px solid #F8F8F8; box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24); -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24); -moz-box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24); -ms-box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24); border-radius: 2px;}
.dashboard-box-inner, .dashboard-box-three{padding: 20px 25px 20px 25px;}
.users-inner{padding: 0 15px;}
.action-icon{font-size: 19px; color: #000; margin: 0 3px; display: inline-block;}
.action-icon:hover, .action-icon.active{color: #27A9E0}
.select-entry{color: #212121; background: #FFFFFF; border: 1px solid #F3F3F3; border-radius: 4px; outline: none; margin: 0 5px;}
select.select-entry option{color: #27A9E0;}
.plus-icon{background: #27A9E0; box-shadow: 1px 2px 4px 0 #A6A6A6; width: 50px; height: 50px; border-radius: 100px; text-align: center; display: table; position: fixed; bottom: 3%; right: 3%; z-index: 9;}
.plus-icon i{display: table-cell; vertical-align: middle;}
.map-box{height: 640px;}
.map-wrapper{margin-bottom: 15px;}
.layout-slider{margin-top: 40px;}
.table>tbody>tr>td.hiddenRow{padding: 0;}
.table-hideShow table .collapse.in{display:table-row; background-color: #F8F8F8;}
.table-hover>tbody>tr:hover{background-color: transparent;}
.clickable.open td{color: #27A9E0;}
.clickable.open td a{color: #27A9E0;}
.clickable.open .icon-unfold-less::before{content: "\e90c";}
.highcharts-button{display: none;}
.highcharts-credits{display: none;}
.border-round{border: solid 1px #212121; width: 6px; height: 6px; display: inline-block; border-radius: 200px; margin: 0 1px;}
.border-round.fill{background-color: #212121;}
.clickable{cursor: pointer;}
/*.highcharts-point{width: 6px !important; height: 6px !important; position: relative !important; top: 3px !important;}*/
.right-link a{color: #5C9CE5; text-transform: uppercase;}
.right-link{text-align: right; padding-bottom: 5px !important; font-size: 13px;}
.dropdown more-link{padding-bottom: 5px;}
.card-wrapper .right-link>a{color: #fff; padding-bottom: 5px;}
.box-border{border-top: solid 1px #E0E0E0; padding: 10px 10px 8px 10px;}
.card-wrapper .box-border{border-color: rgba(224,224,224,.1);}
.more-link a{color: #757575;}
.dropdown-menu{border-radius: 0px; padding: 0; border-radius: 0px;}
.dropdown-menu>li>a{padding: 5px 15px;}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{background-color: transparent; color: #27A9E0;}
.chart{width: 100%; margin-top: 30px; min-height: 300px;}
.input-control{border-bottom: solid 1px rgba(255,255,255,.1); padding-bottom: 5px; background-color: transparent; width: 100%; border-left: none; border-top: none; border-right: none; font-size: 11px; box-shadow: none; outline: none; color: #fff;}
.card-inner{padding: 15px 30px 5px 30px;}
.analytics-inner{padding: 10px 5px;}
.border-bottom-light{border-bottom: solid 1px rgba(255,255,255,0.1); padding-bottom: 3px;}
.gray-label{color: #757575;}

/*---- Modal ------*/
.modal-dialog{margin: 100px auto;}
.modal-backdrop{background-color: #fff;}
.modal-backdrop.in{opacity: .6;}
.modal-content{background: #FFFFFF; box-shadow: 0 15px 12px 0 rgba(0,0,0,0.22), 0 19px 38px 0 rgba(0,0,0,0.30); border-radius: 2px; border: solid 1px rgba(255,255,255,.5);}
.modal-title{color: #000;}
.modal-header{border-bottom: none;}
.close{opacity: 1; font-size: 23px;}

/*--- table ----*/
.table>thead>tr>th{color: #212121; font-family: 'helveticaneuemedium'; border-bottom: solid 1px rgba(0,0,0,.12); padding: 17px 5px;font-weight: normal;}
.table>tbody>tr>td{padding: 20px 5px 5px 5px; border-top: solid 1px rgba(0,0,0,.12);}
.table>tbody>tr:first-child>td{border-top: 0px;}
.table>tbody>tr:last-child>td{border-bottom: solid 1px rgba(0,0,0,.12); padding: 17px 5px;}
.table-center>thead>tr>th, .table-center>tbody>tr>td{text-align: center;}
.table-center>thead>tr>th:nth-child(2), .table-center>tbody>tr>td:nth-child(2){text-align: left;}
.table-center-all >thead>tr>th, .table-center-all>tbody>tr>td{text-align: center;}
.table>tbody>tr>td.table-no-padding{padding: 5px 5px;}
.table-image img{margin: 0 auto;}
.blue-text{color: #27A9E0;}
.sortable-icon:hover{cursor: move;}
.table>tbody>tr>td i{font-size: 16px;}

/*--- Pagination ---*/
.showing-result{margin-top: 18px;}
.pagination{margin: 0px;}
.pagination>li>a, .pagination>li>span{border: 1px solid #F3F3F3; border-radius: 4px; font-size: 14px; color: #212121; letter-spacing: 1px; margin: 0 3px; padding: 8px 12px; transition: all 0.5s ease;}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus{background: #27A9E0; border: 1px solid #27A9E0; color: #fff; transition: all 0.5s ease;}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{background: #27A9E0; border: 1px solid #27A9E0; color: #fff;}
.pagination>li>a, .pagination>li>span{background-color: transparent;}

/*-- Form control --*/
.label-control{color: #27A9E0; font-size: 9px;}
.form-control{border: none; box-shadow: none; font-size: 14px; color: #212121; padding: 0px; outline: none; height: initial;}
.form-control:focus, .form-control:active{box-shadow: none;}
select.form-control{background-image: url('../images/select-arrow.png'); background-repeat: no-repeat; background-position: center right; -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; appearance:none;}
.form-group{background: #FFFFFF; border: 1px solid #F3F3F3; border-radius: 4px; padding: 0px 25px 10px 25px;}
.form-control::-moz-placeholder { color: #212121; opacity: 1;}
.form-control:-ms-input-placeholder {color: #212121;}
.form-control::-webkit-input-placeholder {color: #212121;}
.input-control::-moz-placeholder {color: rgba(255,255,255,.6);}
.input-control:-ms-input-placeholder {color: rgba(255,255,255,.6);}
.input-control::-webkit-input-placeholder {color: rgba(255,255,255,.6);}
.btn{padding: 14px 15px;}
.btn-primary{background: #27A9E0; border: 1px solid #27A9E0; border-radius: 4px;display: inline-block; font-size: 14px; color: #FFFFFF; letter-spacing: 1px; transition: all 0.5s ease; text-transform: uppercase;}
.btn-primary1{background: #27A9E0; border: 1px solid #27A9E0; border-radius: 4px; font-size: 14px; color: #FFFFFF; letter-spacing: 1px; transition: all 0.5s ease;}
.btn-primary:hover, .btn-primary.active, .btn-primary:focus{background-color: #212121; color: #fff; transition: all 0.5s ease;}
.btn-primary1:hover, .btn-primary1.active, .btn-primary1:focus{background-color: #212121; color: #fff; transition: all 0.5s ease;}

.input-group-box .form-control{background: #FFFFFF; border: 1px solid #F3F3F3; border-radius: 4px; color: #212121; letter-spacing: 1px; padding: 10px 20px; height: 50px; border-right: none;}
.input-group-btn .btn-default{color: #212121; color: #000; font-size: 22px; border-left: none; border-color: #F3F3F3;} 
.input-group-btn>.btn{padding: 10px 15px; height: 50px;}
.input-group-btn .btn-default:hover, .input-group-btn .btn-default.active{background-color: transparent; color: #27A9E0; border-left-color: #fff;}
.datepicker .input-group-addon{padding: 0; background-color: transparent; border: none; font-size: 20px;}
.search-wrapper .btn-primary:active, .search-wrapper .btn-primary.active, .search-wrapper .open>.dropdown-toggle.btn-primary{background: #27A9E0; border: 1px solid #27A9E0; border-radius: 4px;}
.search-wrapper .dropdown-menu{background: #FFFFFF;  box-shadow: 0 15px 12px 0 rgba(0,0,0,0.22), 0 19px 38px 0 rgba(0,0,0,0.30); border-radius: 2px; margin: 0; padding: 0; left: 0px; min-width: 235px; width: 100%;}
.search-wrapper .dropdown-menu>.active>a, .search-wrapper .dropdown-menu>.active>a:hover, .search-wrapper .dropdown-menu>.active>a:focus{background-color: #27A9E0;}
.search-wrapper .dropdown-menu>li>a:hover, .search-wrapper .dropdown-menu>li>a:focus{background-color: #27A9E0; color: #fff; border-color: #27A9E0;}
.search-wrapper .dropdown-menu>li>a{padding: 14px 30px; border-bottom: solid 1px #E0E0E0;}
.modal-content .btn-default{color: #27A9E0; letter-spacing: 0.5px; background-color: transparent; border: none; box-shadow: none;}
.modal-content .btn-default:hover, .modal-content .btn-default.active, .modal-content .btn-default:focus{background-color: transparent; color: #212121; outline: none;}
.modal-footer{border: none;}

/*--- Editor ---*/
.mce-menubar.mce-toolbar{display: none;}
.mce-branding-powered-by{display: none;}
.mce-container-body, .mce-panel{background-color: #fff !important; border: none !important;}
.mce-btn{background-color: #fff !important; border: none !important; color: #212121 !important;}
div.mce-edit-area, .mce-statusbar{background: #FFFFFF; box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24) !important;}
.mce-toolbar-grp.mce-stack-layout-item{margin-bottom: 10px !important;}

/*--- datepicker ----*/
.datepicker-days .table-condensed thead th{/*background-color: #27A9E0;*/ color: #fff; border-radius: 0px;}
.datepicker.dropdown-menu{padding: 0px; min-width: 270px; overflow: hidden; min-height: 245px; font-family: 'HelveticaNeue'; font-size: 12px; border-radius: 0px;}
.datepicker.dropdown-menu .datepicker-switch{font-size: 14px;}
.datepicker table{width: 100%;}
.datepicker table tr td{border: solid 1px transparent; border-radius: 0px;}
.datepicker table tr td.old, .datepicker table tr td.new {color: #CED2D2;}
.datepicker table tr th.prev, .datepicker table tr th.next{font-size: 16px;}
.datepicker thead tr:first-child th:hover, .datepicker tfoot tr th:hover{background-color: #212121;}
.datepicker-dropdown.datepicker-orient-top:after{border-bottom-color: #212121;}
.datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active:hover.disabled, .datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled:hover.disabled, .datepicker table tr td.active[disabled], .datepicker table tr td.active:hover[disabled], .datepicker table tr td.active.disabled[disabled], .datepicker table tr td.active.disabled:hover[disabled]{background-color: #212121; color: #fff; border: none; background-image: none;}
.dropdown-menu .btn:active, .dropdown-menu .btn.active{box-shadow: none;}
.datepicker-days .table-condensed thead th.prev, .datepicker-days .table-condensed thead th.datepicker-switch, .datepicker-days .table-condensed thead th.next{background-color: #27A9E0;}
.datepicker-days .table-condensed thead th.dow{background-color: #F8F8F8; color: #505050;}
.datepicker thead tr:first-child th:hover, .datepicker tfoot tr th:hover{background-color: #27A9E0;}
.datepicker.dropdown-menu th{padding: 8px 5px; min-width: 41px;}
.datepicker.dropdown-menu td{padding: 10px 8px; border-radius: 200px; min-width: 41px;}
.datepicker table tr td.day:hover, .datepicker table tr td.day.focused, .datepicker table tr td span:hover{background-color: #27A9E0; color: #fff;}
.datepicker-months table tr th, .datepicker-years table tr th{background-color: #27A9E0; color: #fff;}
.datepicker table tr td span{height: 57px; border-radius: 200px;}
.datepicker table tr td.today, .datepicker table tr td.today:hover, .datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:hover{background-color: #27A9E0; color: #fff; background-image: none; border: none;}
.datepicker table tr td.today:hover:hover{color: #fff;}
.clockface .outer:hover, .clockface .inner:hover{background-color: #27A9E0; color: #fff; border-radius: 100px;}

/*----- Check Box and radio Button ----*/
label{margin-bottom: 0; font-weight: normal !important;}
label.radio-checkbox{ font-weight: normal;display: inline-block; cursor: pointer; line-height: 21px; /*padding-bottom: 9px;*/}
.label_check input,
.label_radio input  { margin-right: 5px; }
.has-js .label_check,
.has-js .label_radio    { padding-left: 30px;}
.has-js .label_radio    { background: url(../images/radio-off.png) no-repeat; }
.has-js .label_check    { background: url(../images/check-off.png) no-repeat; }
.has-js label.c_on      { background: url(../images/check-on.png) no-repeat; }
.has-js label.r_on      { background: url(../images/radio-on.png) no-repeat; }
.has-js .label_check input,
.has-js .label_radio input  { position: absolute; left: -9999px; }

/*--- Login -----*/
.login-wrapper{width: 40%; margin: 40px auto;}
.login-inner{min-height: 350px; padding: 35px 30px 20px 30px; position: relative; margin-bottom: 20px; background: #FFFFFF; border: 1px solid #F8F8F8; box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24); -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24); -moz-box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24); -ms-box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24); border-radius: 2px;}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary{background-color: #27A9E0}
.box-wrapper .form-group .bootstrap-switch{border-color: #dedede; display: block; margin-top: 5px;}

.ui-tooltip {
    background-color: #212121;
    border-bottom-color:#212121;
    color:#FFFFFF;
    font-size: 12px;
}
.rating-container .caption span.label{
  margin-top:0px !important;
}

.rating-container.rating-xs{
  font-size: 14px !important;
} 

/* 26/12/2017 */
.pushy ul li i.fa-tags {
    font-size: 21px;
}