@media screen and (max-width: 1199px) {
	.search-wrapper .dropdown-menu>li>a{padding: 14px 20px;}
	.pagination>li>a, .pagination>li>span{padding: 10px 14px; margin: 0 3px;}
}

@media screen and (max-width: 991px) {
	.pushy-open-left .page-container{margin-left: 0px;}
	.pushy-open-left .navbar-default .navbar-nav>li>a.menu-btn{color: #27A9E0;}
  .login-wrapper{width: 55%;}
}

@media screen and (max-width: 767px) {
  .navbar-right{float: right;}
  .navbar-default .navbar-nav>li{float: left;}
  .navbar-nav{margin-top: 2px; margin-bottom: 2px;}
  .navbar-default .navbar-nav>li>a {padding: 12px 6px 10px 6px;}
  .box-wrapper{padding: 20px 15px 20px 15px;}
  .navbar-brand{padding-top: 11px;}
  .table-responsive{border: none;}
  .login-wrapper{width: 95%;}
}
@media screen and (max-width: 639px) {
	.pushy{width: 290px;}
}
